<footer class="footer">
    <div class="container-fluid">
        <p class="text-muted pull-right"><b>@AppConfig.AppName</b> | @AppConfig.AppVersion | @AppConfig.AppEnvironment | @AppConfig.CompanyName</p>
    </div>
</footer>