@{
    ViewBag.Title = "500 - Internal Server Error";
}
<div class="page-container">
    <div class="container-fluid">
        <div class="body-content">
            @Html.Partial("_Alert")
            <div class="well well-sm clearfix">
                <p class="pull-left page-title">@ViewBag.Title</p>
                <p class="pull-right page-info text-success"><a href=@Request.UrlReferrer>Back to previous page</a></p>
            </div>
            @*begin: main content*@


            @*end: main content*@
        </div>
    </div>
</div>
@section scripts
{

}