@{
    ViewBag.Title = "400 - Bad Request";
}
<div class="page-container">
    <div class="container-fluid">
        <div class="body-content">
            @Html.Partial("_Alert")
            <div class="well well-sm clearfix">
                <p class="pull-left page-title">@ViewBag.Title</p>
                <p class="pull-right page-info">@*empty*@</p>
            </div>
            @*begin: main content*@

            @*end: main content*@
        </div>
    </div>
</div>
@section scripts
{

}